.contenedor-info-lives{
    width: 50%;
    min-height: 365px;
    border: 2px solid rgb(82, 89, 104);
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    position:relative;
    left: 510px;
    top: 33px;

}

.titulo-info{
    color: rgb(250, 3, 3);
    font-weight:900;
    font-size: 150%;
    text-align: center;
}